<app-page-view #pageView>
  <mat-toolbar class="flex-shrink-0" toolbar>
    <button (click)="pageView.toggleLeft()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="mr-auto">Master Detail View</h1>
    <button (click)="pageView.toggleRight()" mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-toolbar>

  <ng-container left>
    <mat-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let item of master">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{item.name}}</h4>
        <p mat-line> {{item.updated | date}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let item of master">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{item.name}}</h4>
        <p mat-line> {{item.updated | date}} </p>
      </mat-list-item>
    </mat-list>
  </ng-container>

  <ng-container right>
    <mat-action-list>
      <h3 mat-subheader>Folders</h3>
      <mat-list-item *ngFor="let item of master">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{item.name}}</h4>
        <p mat-line> {{item.updated | date}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let item of master">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{item.name}}</h4>
        <p mat-line> {{item.updated | date}} </p>
      </mat-list-item>
    </mat-action-list>
  </ng-container>

  <div center class="scroll scroll-y h-100">
    <table [dataSource]="dataSource" class="w-100" mat-table>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th *matHeaderCellDef mat-header-cell> No.</th>
        <td *matCellDef="let element" mat-cell> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th *matHeaderCellDef mat-header-cell> Weight</th>
        <td *matCellDef="let element" mat-cell> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th *matHeaderCellDef mat-header-cell> Symbol</th>
        <td *matCellDef="let element" mat-cell> {{element.symbol}} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>

</app-page-view>
