<div class="home" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Responsive App</h1>
  </mat-toolbar>
  <mat-drawer-container
    class="drawer-container"
    autosize>
    <mat-drawer
      #drawer
      mode="over"
      position="start"
      class="drawer"
      [opened]="open"
      [style.width]="mobileQuery.matches ? '100%' : '300px'">
      side
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <div class="page page-left" [class.page-active]="mobileQuery.matches && page === 0">div1
        <button mat-icon-button class="page-btn page-btn-next" style="float:right;" (click)="nextPage()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div class="page page-center" [class.page-active]="mobileQuery.matches && page === 1">div2
        <button mat-icon-button class="page-btn page-btn-prev" style="float:left;" (click)="prevPage()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button class="page-btn page-btn-next" style="float:right;" (click)="nextPage()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div class="page page-right" [class.page-active]="mobileQuery.matches && page === 2">div3
        <button mat-icon-button class="page-btn page-btn-prev" style="float:left;" (click)="prevPage()">
          <mat-icon>chevron_left</mat-icon>
        </button>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
