<ng-container>

  <mat-toolbar color="primary" class="flex-shrink-0">
    <ng-content select="[appbar]"></ng-content>
  </mat-toolbar>

  <mat-sidenav-container class="flex-grow-1 d-flex flex-row">
    <div #leftContainer class="flex-shrink-0">
      <ng-content select="[left]"></ng-content>
    </div>
    <mat-sidenav *ngIf="showLeftSideNav" #leftSideNav position="start">
      <ng-content select="[leftSideNav]"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content class="flex-grow-1">
      <ng-content></ng-content>
    </mat-sidenav-content>

    <div #rightContainer class="flex-shrink-0">
      <ng-content select="[right]"></ng-content>
    </div>
    <mat-sidenav *ngIf="showRightSideNav" #rightSideNav position="end">
      <ng-content select="[rightSideNav]"></ng-content>
    </mat-sidenav>
  </mat-sidenav-container>

</ng-container>
