<ng-content select="[showTop]"></ng-content>
<mat-toolbar *ngIf="showTop" #appbar color="primary" class="flex-shrink-0">
  <ng-content select="[top]"></ng-content>
</mat-toolbar>

<mat-sidenav-container class="flex-grow-1 d-flex flex-row">
  <ng-content select="[leftSide]"></ng-content>
  <mat-sidenav *ngIf="showLeft" #leftSide position="start">
    <ng-content select="[left]"></ng-content>
  </mat-sidenav>

  <mat-sidenav-content *ngIf="showCenter" class="flex-grow-1">
    <ng-content select=[center]></ng-content>
  </mat-sidenav-content>
  <ng-content select="[showCenter]"></ng-content>

  <mat-sidenav *ngIf="showRight" #rightSide position="end">
    <ng-content select="[right]"></ng-content>
  </mat-sidenav>
  <ng-content select="[showRight]"></ng-content>

  <ng-content></ng-content>
</mat-sidenav-container>

<mat-toolbar *ngIf="showBottom" #appbar class="flex-shrink-0">
  <ng-content select="[bottom]"></ng-content>
</mat-toolbar>
<ng-content select="[showBottom]"></ng-content>
