.view {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.is-small .toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.drawer-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.is-mobile drawer-container {
  flex: 1 0 auto;
}

.is-small drawer-container {
  flex: 1 0 auto;
}

.drawer {
  width: 200px;
  background: #fff;
}

.drawer-content {
  position: relative;
}

.page-active {
  background: #eee;
}

.page-left {
  width: 300px;
  background: #fff;
}

.page-center {
  flex: 1;
  background: #fff;
}

.page-right {
  width: 300px;
  background: #fff;
}

.page-btn {
  display: none;
}

.page-btn-prev {
  position: absolute;
  left: 0;
  bottom: 0;
}

.page-btn-next {
  position: absolute;
  right: 0;
  bottom: 0;
}

.is-mobile .page-btn {
  display: block;
}

.is-mobile .page-active {
  width: 100%;
  flex: 1 0 auto;
}

.is-mobile .drawer-content:not(.page-active) {
  flex: 0 1 auto;
  display: none;
}

.is-small .page-btn {
  display: block;
}

.is-small .page-right.page-active {
  width: 100%;
  flex: 1 0 auto;
}

.is-small .page-right:not(.page-active) {
  flex: 0 1 auto;
  display: none;
}
