<ng-container>

  <mat-toolbar *ngIf="showAppbar" #appbar color="primary" class="flex-shrink-0">
    <ng-content select="[top]"></ng-content>
  </mat-toolbar>
  <ng-content select="[topAppbar]"></ng-content>

  <mat-sidenav-container class="flex-grow-1 d-flex flex-row">
    <ng-content select="[leftSide]"></ng-content>
    <mat-sidenav *ngIf="showLeft" #leftSide position="start">
      <ng-content select="[left]"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content class="flex-grow-1">
      <ng-content></ng-content>
    </mat-sidenav-content>

    <mat-sidenav *ngIf="showRight" #rightSide position="end">
      <ng-content select="[right]"></ng-content>
    </mat-sidenav>
    <ng-content select="[rightSide]"></ng-content>

  </mat-sidenav-container>

</ng-container>
