<section class="d-flex flex-column h-100">
  <ng-content select="[toolbar]"></ng-content>
  <mat-drawer-container class="d-flex flex-grow-1 flex-row h-100">
    <mat-drawer
            #drawerLeft
            mode="over"
            position="start"
    >
      <ng-content select="[drawerLeft]"></ng-content>
    </mat-drawer>
    <mat-drawer
            #drawerLeft
            mode="over"
            position="end"
    >
      <ng-content select="[drawerLeft]"></ng-content>
    </mat-drawer>

    <mat-drawer-content class="d-flex flex-row flex-grow-1 h-100">
      <div class="flex-shrink-1" #customerContent>
        <ng-content></ng-content>
      </div>
      <ng-container *ngIf="!customerContent.hasChildNodes()">
        <div class="col-10"><ng-content select="[left]"></ng-content></div>
        <div class="flex-grow-1"><ng-content select="[center]"></ng-content></div>
        <div class="col-10"><ng-content select="[right]"></ng-content></div>
      </ng-container>
    </mat-drawer-content>

  </mat-drawer-container>
</section>
