<ng-content select="[toolbar]"></ng-content>

<mat-drawer-container class="flex-grow-1 d-flex flex-row" autosize>

  <mat-drawer #leftDrawer position="start" class="col-60 col-sm-30 col-md-20 col-lg-10 scroll scroll-y h-100">
    <ng-content select=[left]></ng-content>
  </mat-drawer>

  <mat-drawer-content class="flex-grow-1 pl-lg-2 pr-lg-2">
    <ng-content select=[center]></ng-content>
  </mat-drawer-content>

  <mat-drawer #rightDrawer position="end" class="col-60 col-sm-30 col-md-20 col-lg-15">
    <ng-content select=[right]></ng-content>
  </mat-drawer>
</mat-drawer-container>

<ng-content select="[appbar]"></ng-content>
