<app-container>
  <ng-container appbar>
    <h1 class="mr-auto">Dashboard</h1>
    <button mat-icon-button (click)="sideNavRight.toggle()">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button (click)="sideNavRight.toggle()">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button (click)="sideNavRight.toggle()">
      <mat-icon>apps</mat-icon>
    </button>
  </ng-container>
  <mat-nav-list right style="width:200px">
    <a mat-list-item routerLink="home">home</a>
    <a mat-list-item routerLink="about">about</a>
    <a mat-list-item routerLink="page">page</a>
  </mat-nav-list>
  <router-outlet></router-outlet>
</app-container>
