@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dashboard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.dashboard-is-mobile .toolbar {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
}

.dashboard-is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.sidenav {
  width: 200px;
}

.sidenav-content {
}


